{{ define "main" }}
<div class="flex flex-col gap-y-2">
  {{ $pages := where .Site.RegularPages "Section" "posts" }}
  {{ range $pages }}
  <div class="flex gap-x-2 items-baseline">
    <a href="{{.RelPermalink }}">
      <span class="text-neutral-500 ">
        {{/* {{ $diff := now.Sub .Lastmod }}
        Posted {{ math.Round (div $diff.Hours 24) }} days ago */}}
        {{.Date.Format "2006-01-02" }}
      </span>
      <span class="text-neutral-900">
        {{ .LinkTitle }}
      </span>
    </a>
  </div>
  {{ end }}
</div>
{{ end }}