
{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $width := 500 -}}
{{- $height := 500 -}}
{{- if not $u.IsAbs -}}
  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $src = .RelPermalink -}}
    {{ $height = .Height}}
    {{ $width = .Width}}
  {{- else -}}
    {{- with resources.Get .RelPermalink -}}
        {{- $src = .RelPermalink -}}
        {{ $height = .Height }}
        {{ $width = .Width}}
    {{- end -}}
  {{- end -}}
{{- else -}}
    {{ if or (eq $u.Scheme "http") (eq $u.Scheme "https") }}
        {{with resources.GetRemote .Destination -}}
            {{ with .Err}}
                {{ warnf  "%s" . }}
            {{ else }}
                {{ $height = .Height }}
                {{ $width = .Width}}
            {{ end }}
        {{ else }}
            {{ warnf  "Unable to get remote resource" }}
        {{ end }}
    {{ end }}
{{- end -}}
<a class="gallery inline-block" href="{{ $src }}" data-pswp-width="{{ $width }}" data-pswp-height="{{ $height }}" aria-label="{{ .Text }}">
    <img src="{{ $src }}" alt="{{ .Text }}" width="{{ $width }}" height = "{{ $height }}" aria-label="{{ .Title }}"/>
</a>

{{- /**/ -}}